header {
  background: var(--color-bg);
}

.logo {
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  color: #b9c9d1;
}
.inside {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo span {
  font-size: 2rem;
  color: #4eb6b7;
  margin-left: 4px;
}

.logo__icon:first-child {
  transform: rotate(90deg);
  color: #4eb6b7;
}
.logo__icon {
  font-size: 2.4rem;
  margin: 8px;
  color: var(--color-black);
}
