.detail {
  padding: 20px 0;
  background: var(--color-bg);
}
.content {
  display: flex;
  flex-flow: row wrap;
}
.avatar {
  width: calc(30% - 30px);
  margin-right: 30px;
  background: var(--color-white);
  padding: 18px;
  border-radius: 6px;
  box-shadow: 1px 8px 5px rgba(0, 0, 0, 0.02);
}

.avatar img {
  border-radius: 8px;
}
.avatar h1 {
  display: block;
  font-size: 2.4rem;
  text-align: center;
  color: var(--color-primary);
}
.avatar p {
  display: block;
  font-size: 1.4rem;
  text-align: center;
  color: var(--color-primary);
  font-weight: 300;
  margin-bottom: 20px;
}
.desc {
  display: flex;
  justify-content: space-between;
}
.desc span {
  font-size: 1.4rem;
  color: #b3c5cd;
  display: block;
}
.desc__left {
  font-size: 1.4rem;
  color: var(--color-primary);

  flex: 1;
  text-align: center;
}
.desc__right {
  font-size: 1.4rem;
  color: var(--color-primary);

  flex: 1;
  text-align: center;
}

.profile {
  width: 70%;
  background: var(--color-white);
  padding: 18px;
  border-radius: 6px;
  box-shadow: 1px 8px 5px rgba(0, 0, 0, 0.02);
}
.profile h2 {
  font-size: 1.6rem;
  color: var(--color-primary);
  margin-bottom: 5px;
}
.profile p {
  font-size: 1.6rem;
  color: #b3c5cd;
}
.list {
  margin: 10px -18px;
}
.list__item {
  display: flex;
  padding: 18px 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.list__item p,
.list__item_txt {
  flex: 1;
  font-size: 1.6rem;
  color: #b3c5cd;
}
.list__item .list__item_txt {
  text-align: end;
  color: var(--color-primary);
}

.list_flag {
  display: flex;
  flex-flow: row wrap;
}
.flag__item {
  margin: 10px 14px;
  width: calc(25% - 28px);
}
.flag__item img {
  width: 140px;
  height: 80px;
  object-fit: contain;
}
@media only screen and (max-width: 600px) {
  .content {
    margin: 0 10px;
  }
  .avatar {
    width: 100%;
    margin: unset;
    margin-bottom: 10px;
  }
  .profile {
    width: 100%;
  }
}
